.search-results-item {
  width: 100%;
  padding: 13px 0px;
  overflow: hidden;
  border-bottom: 1px solid var(--border-color);
  z-index: 100;
}

.search-results-item__img-container {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.search-results-item__img {
  width: 100px;
  border-radius: 8px;
  display: block;
}

.search-results-item__txt-container {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  width: calc(100% - 115px);
}

.search-results-item__txt-container > span {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
}

.search-results-item__txt-container > .search-results-item__title {
  font-size: 14px;
  font-weight: 500;
}

.search-results-item__txt-container > .search-results-item__art {
  color: var(--disabled-text-color);
  margin-top: 5px;
}

.search-results-item__txt-container > .search-results-item__price {
  margin: 15px 0px 20px 0px;
}
