.phone-input {
  display: block;
  width: 100%;
  margin-top: 14px;
  font-size: 14px;
}

.phone-input > input {
  height: 32px;
  border: 1px solid var(--border);
  padding: 7px;
  color: var(--text);
  display: inline-block;
}

.country-code {
  width: 30px;
  background-color: var(--disabled);
  border: 1px solid var(--border) !important;
  border-right: none !important;
  border-radius: 3px 0 0 3px;
}

.phone-number {
  width: calc(100% - 60px);
  border-left: none !important;
  border-radius: 0 3px 3px 0;
  background-color: var(--main-body);
}

.error {
  border-color: var(--red) !important;
}

.error-message {
  color: var(--red);
}
