#cart-title {
  display: block;
  font-size: 27px;
  padding-bottom: 20px;
}

#cart-items {
  min-height: calc(100vh - 338px);
  overflow-x: hidden;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border);
}

.price {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

.price-number {
  float: right;
}

.order-btn {
  display: block;
  width: 100%;
  max-width: 390px;
  margin: 15px 0;
}
