#order-title {
  display: block;
  font-size: 27px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

#order-form {
  min-height: calc(100vh - 297px);
  overflow-x: hidden;
  margin-bottom: 20px;
}

.order-btn {
  display: block;
  width: 100%;
  max-width: 390px;
  margin-top: 25px;
}
