#order-form {
  min-height: calc(100vh - 297px);
  overflow-x: hidden;
  margin-bottom: 20px;
}

.order-input {
  margin-top: 14px;
  width: 100%;
}

.order-btn {
  display: block;
  width: 100%;
  max-width: 390px;
  margin-top: 25px;
}
