#bio {
  padding: 0 20px 0 20px;
  display: block;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
}

#bio > p {
  margin: 14px 0 0 0;
}

#bio > p > b {
  font-weight: 500;
  color: var(--text);
}
