.purchase-panel__placeholder {
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  max-width: 430px;
  height: 100vh;
  pointer-events: none;
}

.purchase-panel {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  background: var(--light-background-color);
  padding: 10px 20px;
  box-shadow: 0 0 10px var(--shadow);
  margin: auto;
  pointer-events: auto;
  font-weight: 300;
  text-align: left;
}

.purchase-panel__close {
  background: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
}

.purchase-panel__close > svg > path {
  stroke: var(--dark-background-color);
}

.purchase-panel__continue {
  display: block;
  width: 100%;
  max-width: 390px;
  margin: 15px 0 40px 0;
}
