.menu__open-close {
  background: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
}

#menu__placeholder {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  max-width: 430px;
  height: 100vh;
  pointer-events: none;
}

#menu__content {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  background: var(--light-background-color);
  padding: 40px 20px;
  box-shadow: 0 0 10px var(--shadow);
  margin: auto;
  pointer-events: auto;
  text-align: left;
  text-transform: uppercase;
}

#menu__content > ul {
  font-weight: 300;
  font-size: 20px;
  list-style: none;
  min-height: calc(100vh - 340px);
  padding: 0;
}

#menu__content > ul > li {
  display: flex;
  width: calc(100%-20px);
  height: 48px;
  align-items: center;
  padding-left: 20px;
}

#menu__content > ul > li > a {
  font-weight: 700;
}

#menu__content > ul > li:first-child {
  border-bottom: 1px solid var(--border-color);
}

#menu__content > ul > li:last-child {
  border-top: 1px solid var(--border-color);
}

#menu__content > div:last-child {
  padding: 10px;
  border-top: 1px solid var(--border-color);
}
