.size-picker-hint {
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  display: flex;
}

.size-picker__title > span {
  display: inline-block;
}

.size-picker__title > div {
  float: right;
}
