.search__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
}

.search__placeholder {
  top: 0;
  position: fixed;
  width: 100%;
  max-width: 900px;
  pointer-events: none;
}
