.search {
  background-color: var(--light-background-color);
  pointer-events: auto;
  padding: 10px 0 10px 10px;
  display: flex;
}

.search__input {
  width: calc(100% - 48px);
}

.search__close {
  margin: auto;
}

.search__close > svg > path {
  stroke: var(--dark-background-color);
}
