.product-card {
  min-width: 185px;
  width: 33%;
  max-width: 280px;
  margin-bottom: 40px;
  font-size: 14px;
}

.product-card__img {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.product-card__featured {
  margin-top: 5px;
  padding: 0 5px;
  background: var(--dark-background-color);
  color: var(--light-text-color);
}

.product-card__name {
  font-weight: 500;
  padding: 8px 0;
}

.product-card__price {
  font-size: 16px;
  font-weight: 400;
}

.discounted {
  color: var(--attention-color);
}
