.menu__close {
  background: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
}

.menu__placeholder {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  max-width: 430px;
  height: 100vh;
  pointer-events: none;
}

.menu {
  height: 100vh;
  overflow: hidden visible;
  background: var(--light-background-color);
  padding: 0 20px;
  box-shadow: 0 0 10px var(--shadow);
  margin: auto;
  pointer-events: auto;
  text-align: left;
}

nav > ol {
  font-size: 16px;
  list-style: none;
  min-height: calc(100vh - 280px);
  padding: 0;
  margin-block-start: 0;
}

nav > ol > li {
  display: flex;
  width: calc(100% - 20px);
  height: 48px;
  align-items: center;
  padding-left: 20px;
}

nav > ol > li:first-child {
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-color);
}

.with-border-top {
  border-top: 1px solid var(--border-color);
}

.menu > div:last-child {
  padding: 10px;
  border-top: 1px solid var(--border-color);
}
