.logo {
  height: 100%;
  display: flex;
  width: fit-content;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
}

.logo > a {
  color: var(--text-color);
}

.logo > a > img {
  max-height: 48px;
  max-width: 90%;
}
