.product-modal__img-container {
  position: relative;
  margin: 25px 0 15px;
}

.product-modal__img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-modal__description {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.product-modal__description > p {
  font-size: 16px;
  font-weight: 400;
}

.article {
  font-size: 16px;
  font-weight: 400;
  color: var(--disabled-text-color);
  display: block;
}
