.logo {
  height: 100%;
  display: flex;
  width: fit-content;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;

  > a {
    color: var(--text-color);

    > img {
      height: 48px;
    }
  }
}

@media (width <= 590px) {
  .logo > a > img {
    height: auto;
    max-width: 190px;
  }
}
