#logo {
  height: 100%;
  display: flex;
  width: fit-content;
  cursor: pointer;
  margin-right: calc(100% - 242px);
  align-items: center;
  font-size: 22px;
}

#logo > img {
  margin-right: 10px;
}
