.size-picker__title {
  margin-bottom: 10px;
}

.size-picker__title > span {
  display: inline-block;
}

.size-picker > ol {
  list-style-type: none;
  text-transform: none;
  padding: 0;
  margin: 0;
}

.size-picker > ol > li {
  display: inline-block;
}
