.wishlist-item {
  width: 100%;
  padding: 13px 0px;
  overflow: hidden;
  border-top: 1px solid var(--border);
}

.wishlist-item__img-container {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.wishlist-item__img {
  width: 100px;
  border-radius: 8px;
  display: block;
}

.wishlist-item__txt-container {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  max-width: 250px;
  width: 100%;
}

.wishlist-item__title {
  display: block;
  font-size: 14px;
  font-weight: 500;
  width: 100%;  
  margin-bottom: 10px;
  cursor: pointer;
}

.wishlist-item__price {
  display: block;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 20px;
}

.wishlist-item__action {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.wishlist-item__added-to-cart {
  color: var(--gray-text);
  cursor: default;
}

.wishlist-item__delete {
  color: var(--red);
  margin-left: 70px;
}
