.cart-item {
  width: 100%;
  padding: 13px 0px;
  overflow: hidden;
  border-top: 1px solid var(--border-color);
}

.cart-item__img-container {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.cart-img {
  width: 100px;
  border-radius: 8px;
  display: block;
}

.cart-item__description-container {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  max-width: 250px;
  width: 100%;
}

.cart-item__title {
  display: block;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.cart-item__price {
  display: block;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 25px;
}

.cart-item__delete {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: var(--error-color);
  cursor: pointer;
}

.cart-item__quantity {
  float: right;
}
