.product-card {
  min-width: 185px;
  width: 33%;
  max-width: 280px;
  margin-bottom: 40px;
  text-align: center;
}

.product-card__img {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.product-card__name {
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  margin: 10px 0 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.product-card__price {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
