.menu-icon {
  width: auto;
  position: relative;
  height: 48px;
  width: 48px;
}

.menu-icon > svg {
  position: absolute;
  top: 13px;
  right: 13px;
}

.menu-icon > svg > path {
  fill: var(--dark-background-color);
  stroke: var(--dark-background-color);
}
