.product-modal__header {
  display: flex;
  margin-bottom: 40px;
}

.product-modal__info {
  width: calc(100% - 48px);
  font-size: 18px;
  font-weight: 700;
}

.product-modal__info > span {
  display: flex;
  margin-top: 15px;
  font-size: 18px;
}

.product-modal__featured {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

.product-modal__featured > span {
  padding: 0 5px;
  background: var(--dark-background-color);
  color: var(--light-text-color);
  text-transform: uppercase;
}

.product-modal__buttons {
  width: 48px;
}

.product-modal__buttons button {
  height: 48px;
  width: 48px;
  padding: 0;
}
