.product-modal__img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 25px;
}

.product-modal__btn {
  margin-top: 15px;
  width: 100%;
}

.product-modal__btn:last-child {
  margin-bottom: 25px;
}
