.search-icon {
  position: relative;
  height: 48px;
  width: 48px;
}

.search-icon > svg {
  position: absolute;
  top: 13px;
  right: 13px;
}

.search-icon > svg > path {
  fill: var(--dark-background-color);
}
