:root {
  --link-color: rgb(79 87 144); /* --accent-a5 */
  --dark-background-color: rgb(10 9 49); /* --accent-a9 */
  --main-accent-color: rgb(24 27 68); /* --accent-a12 */
  --light-background-color: rgb(246 245 246); /* --gray-a1 */
  --light-text-color: rgb(246 245 246); /* --gray-a1 */
  --disabled-background-color: rgb(217 216 219); /* --gray-a5 */
  --border-color: rgb(209 209 212); /* --gray-a6 */
  --disabled-text-color: rgb(133 132 138); /* --gray-a9 */
  --high-contrast-color: rgb(32 31 34); /* --gray-a12 */
  --attention-color: rgb(220 32 32);
  --shadow: color-mix(in srgb, var(--high-contrast-color) 30%, transparent);
  --overlay-color: color-mix(in srgb, var(--high-contrast-color) 70%, transparent);
  --button-color: var(--main-accent-color);
  --text-color: var(--high-contrast-color);
}

body {
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-background-color);
  color: var(--text-color);
  overflow-x: hidden;
  margin: 0;
}

main {
  min-height: calc(100vh - 350px);
  max-width: 900px;
  margin: auto;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.text-page {
  padding: 0 20px 20px;
  text-align: justify;
}
