:root {
  --text: rgba(38, 44, 64, 1);
  --dark-background: rgba(38, 44, 64, 1);
  --modal-background: rgba(38, 44, 64, 0.5);
  --shadow: rgba(38, 44, 64, 0.3);
  --link: rgba(38, 44, 64, 1);
  --border: rgba(38, 44, 64, 1);
  --disabled-button-color: rgba(184, 200, 216, 1);
  --button-color: rgba(38, 44, 64, 1);
  --main-body: rgba(247, 247, 247, 1);
  --button-text-color: rgba(247, 247, 247, 1);
  --disabled: rgba(234, 242, 255, 1);
  --red: rgba(220, 32, 32, 1);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-body);
  color: var(--text);
  overflow-x: hidden;
  margin: auto;
  max-width: 900px;
  padding: 50px 0px 50px 0px;
  display: block;
}

a {
  font-weight: bold;
  color: var(--link);
  text-decoration: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}
