.wishlist-icon {
  position: relative;
  height: 48px;
  width: 48px;
}

.wishlist-icon > svg {
  position: absolute;
  right: 9px;
  top: 9px;
  width: 31px;
  height: 31px
}

.wishlist-icon > svg > path {
  fill: var(--dark-background-color);
}
