#logo-and-link-container {
    display: flex;
    align-items: center;
}

#logo-and-link {
    display: block;
    margin: 0px 25px;
    text-align: center;
    justify-content: center;
}

#logo {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    cursor: pointer;
}
